
body {
	font-family: 'Roboto', sans-serif; 
	/* here i am setting the font for the entire page */
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.heading {
	font-size:300%;
	text-align: center;
	color: #e641e6;
}

.banner-image {
	width: 100%;
	height: auto;
}

div#col    {
	column-count: 3;
	column-width: 33%
}




