
body {
	font-family: 'gotham', sans-sheriff   ;
    background:#208279
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.heading {
	font-size: 400%;
	text-align: center;
}

.banner-image {
	width: 100%;
	height: auto;
}

.banner-image {
  border-radius: 50px;
  max-width: 32%;
  max-height: auto
}

.inline {
	display:inline
}

.cols {
	display:flex;

  }

.cols #col{
  flex: 3;
  border-bottom-left-radius:60px;
 
  padding:60px;
  background:#6c3ebd;
  color:#fff;

}

